body{
    text-align: center;
    background-color: black;
    padding-top: 10%;
}
#input{
    font-size: 35px;
    border-width: 1ch;
}
#list{
    font-size: 30px;
    list-style: none;
    text-align: center;
    color: darkgray;
}
li:hover{
    text-decoration: line-through;
}